@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/pieces-of-eight');


    main{
        background: #EBE6E0;
    }

    header {
        
        width: 100%;
        padding: 10px 0;
        background-image: linear-gradient(to left top, #2f4b52, #283f45, #223438, #1b292c, #151f21, #141e20, #141e1f, #131d1e, #182527, #1d2e31, #22373b, #274046);
        }

    .flex-container {
        display: flex;
        background-color: transparent;
    }
    
    .flex-container > div {
        background-color: transparent;
        margin: 10px;
        padding: 20px;
        font-size: 30px;
    }
    
    .caixa {
        display: flex;
        width: 940px;
    }
    
    #logo2 {
        width: 25rem;
        position:static;
        top: 3px;
        left: 150px;
        
    }
    
    nav {
        position: absolute;
        top: 110px;
        right: 80px;
    }
    
    nav li {
        display: inline;
        margin: 0 0 0 15px;
    }
    
    nav a {
        text-transform: uppercase;
        color: #D2AC7F;
        font-size: 30px;
        text-decoration: none;
        font-family: 'Pieces of Eight', sans-serif;
    }
    
    nav a:hover {
        color:  #FFEFDD;
        text-decoration: underline;
    }
    
    
    nav p:hover {
        color:  #FFEFDD;
        text-decoration:underline;
    }
    .principal {
        
        padding: 30px;
        position: static;
        padding: 3em 0;
        width: 940px;
        margin: 0 auto;
    }
        
    .titulo-principal{
        text-align:center;
        text-align: center;
        clear: left;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
        text-decoration: none;
        color: #1c2f34;
        font-family: 'Roboto', sans-serif;
        margin: 0 3em;
    
    }
    
    .principal p{
        margin: 0 0 1em
    }
    
    .principal strong{
        font-weight: bold;
    } 

    p {
        font-weight:lighter;
        font-size: 19px;
        font-family: 'Roboto', sans-serif;
        color: #5b7c7d;
    }
    #missao {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
    
    em strong {
        color: #5b7c7d;;
        font-weight: bold;
    }
    .beneficios {
        display:flex;
    }  

    .sectionbeneficios{
        padding: 3em 0;
        width: 940px;
        margin: 0 auto;

    }
    h2, h3 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    ul .itens {
        vertical-align:top;
        margin-top: 2rem;
        margin-left: 14rem;
        font-size: 20px;
        color: #5b7c7d;
        font-family: 'Roboto', sans-serif;
    
    }

    .itens {
        line-height: 1;
    }

    .itens:first-child {
        font-weight: bold;
    }

    .itens:before {
        content:"⦿";
        color: #2f4b52;
    }

    .imagembeneficios{
        margin: 0 0 auto;
        width: 40%;
        padding: 20px;
        opacity: 0.3;
        transition: 400ms;
        
    }

    .imagembeneficios:hover {
        opacity: 1;
    }

    .mapa{
        padding: 3em 0;
        
}

    .mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

    .mapa p{
        margin: 0 0 2em;
        text-align: center;
}

    .video{
        margin:  1em auto;
        width: 560px;
    }

    .utensilios {
        width: 220px;
        float: left;
        margin: 0 3em;
    }

    footer {
        text-align: center;
        background-image: linear-gradient(to left top, #d2ac7f, #dbb890, #e3c5a1, #ecd1b3, #f4dec5, #f6e1c9, #f7e3cc, #f9e6d0, #f5dfc7, #f0d8bd, #ecd2b4, #e7cbab);
        padding: 40px;
}

    .copyright{
        color: #1b1b1b;
        font-size: small;
        margin: 20px 0 0;
}

    #logo3 {
        width: 25rem;
        position: relative;
        top: 3px;
}

