@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/pieces-of-eight');

header {
    background: #2f4b52;
    width: 100%;
    padding: 10px 0;

}
.flex-container {
    display: flex;
    background-color: transparent;
}

.flex-container > div {
    background-color: transparent;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.caixa {
    display: flex;
    width: 940px;
}

#logo2 {
    width: 25rem;
    position:static;
    top: 3px;
    left: 150px;
    
}

nav {
    position: absolute;
    top: 110px;
    right: 80px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #D2AC7F;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Pieces of Eight', sans-serif;
}

nav a:hover {
    color:  #FFEFDD;
    text-decoration: underline;
}


nav p:hover {
    color:  #FFEFDD;
    text-decoration:underline;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}

.produtos li {
    display: inline-block;
    margin: 0 1.5%;
    text-align: center;
    width: 30%;
    vertical-align: top;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #2f4b52;
    border-radius: 15px;
    

}

.produtos li:hover {
    border-color: #D2AC7F;
    }

.produtos li :active {
    border-color: #D2AC7F;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 28px;
    font-weight: lighter;
    font-family: 'Pieces of Eight', sans-serif
}

.produto-preco {
    font-size: 27px;
    font-weight: bold;
    margin: 10px 0 0;
    margin-top: 10px;
    font-family: 'Pieces of Eight', sans-serif
}

footer {
    text-align: center;
    background: #FFEFDD;
    padding: 40px;
}

.copyright{
    color: #1b1b1b;
    font-size: small;
    margin: 20px 0 0;
}

#logo3 {
    width: 25rem;
    position: relative;
    top: 3px;
}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label{
    display: block;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
form input{
    display: block;
}
